<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% extends '/admin/master.html' %}
{% block body %}
    
    <ul class="w3-ul w3-border ">
        <li><h2 class="w3-light-grey" style="text-align: center;">Aggregated Models Sent To Federated Client </h2></li>
		<li><h2 class="w3-light-grey" style="text-align: center;">Aggregated Model Stored at Local Storage of Federated Client </h2></li>
    </ul>
    
{% endblock %}

{{users}}
</html> 
