<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% extends "base.html" %}

{% block content %}

	
	<div class="w3-container w3-light-grey w3-padding-12">
        <h2 style="text-align: center;" id="agg"></h2>
    </div>
	<div class="w3-container w3-margin-top">
		<button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/modeltrain">Model Training (Locally)</a></button>
		<button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/sendmodel">Send Model to Federated Server</a></button>
		<button class="w3-button w3-black w3-hover-dark-grey w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/upload">Upload dataset</a></button>
	</div>


{% endblock %}
