<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% extends "base.html" %}

{% block content %}

	
	<div class="w3-container  w3-padding-12">
        <h2 style="text-align: center;" id="agg"></h2>
    </div>
	<div>
	<image src="https://shurl.co/4PZwjG" class="center" width="1350" height="450" alt="FL"></image>
	</div>
	<div class="w3-container w3-margin-top">
		<button class="w3-button w3-khaki w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/modeltrain">Huấn luyện mô hình</a></button>
		<button class="w3-button w3-khaki w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/sendmodel">Gửi mô hình đến máy chủ</a></button>
		<button class="w3-button w3-khaki w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/upload">Tải lên bộ dữ liệu</a></button>
	</div>


{% endblock %}
