{% extends "base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% block content %}
	<div class="w3-container w3-centre w3-teal w3-padding-8">
		<h2 style="text-align: center;">Huấn luyện mô hình</h2>	
	</div>
	<div class="w3-container w3-padding-16 ">
		<h3>Dữ liệu huấn luyện mô hình</h3>
	
		
		<table class="w3-table-all">
			<tr>
			  <th>Epoch</th>
			  <th>Loss</th>
			  <th>Accuracy</th>
			  <th>Val_Loss</th>
			  <th>Val_Accuracy</th>
			</tr>
			{%for i in range(0, epoch)%} 
			<tr> 
    		<td>{{i+1}}</td> 
			<td>{{loss[i]}}</td>
			<td>{{accuracy[i]}}</td>
			<td>{{val_loss[i]}}</td>
			<td>{{val_accuracy[i]}}</td>
			{%endfor%}  
  			</tr> 
		</table>
	</div>
	
	

	<div class="w3-container w3-centre text-center ">
		<button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/modeltrain">Huấn luyện lại mô hình</a></button>
		<button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/sendmodel">Gửi mô hình đến máy chủ</a></button>
	</div>
	
		
{% endblock %}

