<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% extends "base.html" %}

{% block content %}
    
    <h1 class = "w3-center">Tải thư mục dữ liệu lên</h1>
    <div class="w3-container w3-center ">
    <image src='static/structure/dataset_structure.png' class="border border-light"alt="dataset"></image>
    </div>
    <form action="http://localhost:8001/uploader" method="POST" class=" " enctype="multipart/form-data">
        <p><input type="file" name="file[]" webkitdirectory="" directory="" class="w3-center">
        <input type='submit' value='Upload'>
        </p>
    </form>
    
{% endblock %}

